.page-wrap{
    background: #e72955;
    padding: 40px 0;
}

.user-con{
    position: relative;
    background: #fff;
    width: 400px;
    margin:0 auto;
}

.user-con .user-title{
    text-align: center;
    padding:10px 0;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
}

.user-con .user-box{
    padding: 20px ;
}


.user-con .user-box .err-item{
    position: relative;
    background: #fde9e9;
    padding:4px 0 4px 40px;
    margin-bottom: 10px;
    border:1px solid red;
    color:red;
}

.user-con .user-box .err-item .err-icon{
    position: absolute;
    left: 14px;
    top:50%;
    font-size: 14px;
    margin-top: -5px;
}


.user-con .user-item{
    position: relative;
    margin-bottom: 20px;
}

.user-con .user-item .user-label{
    position: absolute;
    left: 1px;
    top:1px;
    bottom: 1px;
    font-size: 18px;
    background: #f3f3f3;
    width: 40px;
    /* height: 40px; */
    line-height: 36px;
    text-align: center;
    color: #d3d3d3;
    border-right: 1px solid #bdbdbd;
}


.user-con .user-item .user-content{
    padding: 10px 0 10px 50px;
    width: 308px;
    font-size: 15px;
    border: 1px solid #bdbdbd;
    outline: none;
}

.user-con .btn-submit{
    width: 100%;
    padding: 0;
    text-align: center;
    font-size: 18px;
}

.user-con .link-item{
    text-align: right;
    margin-top: 10px;
}

.link{
    margin-left: 10px;
    color:#999;
}




