<!DOCTYPE html>
<html lang="en">
  <head>
    <%= require('html-loader!./layout/head-common.html') %>
    <title><%=htmlWebpackPlugin.options.title%> - turing mall电商平台</title>
  </head>
  <body>
    <%= require('html-loader!./layout/nav-simple.html') %>
    <div class="page-wrap">
      <div class="w">
        <div class="user-con">
          <div class="user-title">用户登录</div>
          <div class="user-box">
            <div class="err-item"></div>
            <div class="user-item">
              <label for="" class="user-label">
                <i class="fa fa-user"></i>
              </label>
              <input type="text" class="user-content" id="username" placeholder="请输入用户名" autocomplete="off" />
            </div>
            <div class="user-item">
              <label for="" class="user-label">
                <i class="fa fa-lock"></i>
              </label>
              <input type="text" class="user-content" id="username" placeholder="请输入密码" autocomplete="off" />
            </div>
            <a href="" class="button">登录</a>
          </div>
        </div>
      </div>
    </div>
    <%=require('html-loader!./layout/footer.html') %>
  </body>
</html>
