<div class="footer">
    <div class="w">
        <div class="links">
            <a href="https:www.dianyouke.com" class="link" target="_blank">店有客</a>  |
            <a href="http:www.nuoren.net" class="link" target="_blank">诺仁</a>  |
            <a href="https:lushendianzhang.com" class="link" target="_blank">撸神</a>  |
            <a href="https:www.lipinwang.com" class="link" target="_blank">礼品网</a>
        </div>
        <p class="copyright">
            Copyright © 2019 happyMall.com All Right Reserved
        </p>
    </div>
</div>
<!-- 全局引入jquery -->
 <script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>